$brand-color: #70b8d0;
$accent-color: #f9dd65;
$brand-font: 'Montserrat', sans-serif;
$red-danger: #EF5350;

$bg-vl: #fafafa;
$bg-m: #e1e1e1;
$bg-dm: #c3c3c3;
$bg-bs: #e6ecf0;

$font-white: #fff;
$font-white-s: rgba(#fff, .87);
$font-light: #848484;
$font-light-s: rgba(#848484, .9);
$font-medium: #585858;
$font-medium-s: rgba(#585858, .9);
$font-dark: #222;
$font-dark-s: rgba(#222, .8);
$link-color: #3647ee;